<section class="section" id="dashboard">
    <div class="container">
        <div class="row col-md-12 contentView">
            <h2 class="text-center title">{{menu_dashboard}}</h2>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-left">
                    <p>{{lang_links}}</p>
                    <p style="padding-bottom:3em;">
                        <a href="#account"><button class="btn btn-lg btn-default btn-width">{{account_title}}</button></a>
                        <a href="#todayReading"><button class="btn btn-lg btn-default btn-width">{{daily_portion}}</button></a>
                        <a href="#news"><button class="btn btn-lg btn-default btn-width">{{read_all_news}}</button></a>
                        <a href="#donate"><button class="btn btn-lg btn-primary btn-width">{{donate_dashboard}}</button></a>
                    </p>
                </div>
                <div id="dailyText" class="col-md-6 text-left white-border"></div>
            </div>
            <div class="row col-md-12">
                <div id="waitDiv" class="intertitle">
                    <img src="assets/img/ring-white.svg"/>
                    <h1 class="">{{loading}}</h1>
                </div>
                <div id="feed-rotator1" class="col-md-4 col-md-offset-2 text-left feed-rotator"></div>
                <div id="feed-rotator2" class="col-md-4 text-left feed-rotator"></div>
            </div>
        </div>
    </div>
</section>
