<section class="section" id="dashboard">
    <div class="container">
        <h2 class="text-center title">{{menu_dashboard}}</h2>
        <div class="row">       
            <div class="col-sm-4 col-sm-offset-2 text-center">
            Menu
            <p><a href="#account"><button class="btn btn-lg btn-default">{{account_title}}</button></a></p>
            <p><button class="btn btn-lg btn-default">Lecture du jour</button></p>
            <p><button class="btn btn-lg btn-default">Anciennes lectures</button></p>
            </div>  
            <div class="col-sm-4 text-center" style="border-left: 1px solid white; height: 500px">
            Texte du jour
            <p>Verset sur<br>plusieurs lignes<br>Reference<br><br>Commentaire texte</p>
            </div>  
        </div>        
    </div>
</section>