<section class="section" id="dashboard">
    <div class="container">
        <div class="row col-sm-12 contentView">
            <h2 class="text-center title">{{menu_dashboard}}</h2>
            <div class="row">       
                <div class="col-sm-4 col-sm-offset-2 text-left">
                    <p><a href="#account"><button class="btn btn-lg btn-default" style="width: 182px">{{account_title}}</button></a></p>
                    <p><a href="#todayReading"><button class="btn btn-lg btn-default" style="width: 182px">Lecture du jour</button></a></p>
                    <p><button class="btn btn-lg btn-default" style="width: 182px">Anciennes lectures</button></p>
                    <p><button class="btn btn-lg btn-default" style="width: 182px">Prochaine lecture</button></p>
                    <p><button class="btn btn-lg btn-default" style="width: 182px">Thèmes</button></p>                
                </div>  
                <div id="dailyText" class="col-sm-6 text-left" style="border-left: 1px solid white; height: 100%"></div>  
            </div> 
            
            <div class="row col-sm-12" style="position: absolute; bottom: -100px; padding-top: 10px;">
                <div id="feed-rotator1" class="col-sm-4 col-sm-offset-2 text-left"></div>
                <div id="feed-rotator2" class="col-sm-4 text-left"></div>                
            </div>
            <p style="position:relative; top: 6em; text-align: center;"><a href="#news"><button class="btn btn-md btn-default">Voir toutes les actualités</button></a></p>
            <div id="waitDiv" class="intertitle">
                <img src="assets/img/ring-white.svg"/>
                <h1 class="">{{loading}}</h1>
            </div>
        </div>      
    </div>
</section>