<section class="section" id="donate">
    <div class="container">
        <div class="row col-sm-12 contentView">
            <h2 class="text-center title">{{donate_title}}</h2>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <br><p>{{donate_text}}</p><br>
                </div>   
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <a href="https://www.paypal.me/jwreading" target="_blank"><button class="btn btn-lg btn-default btn-width text-center">{{donate_button_paypal}}</button></a> 
                    <a href="https://tib.me/1L9McGqrB2X7tWjVri7LUzsG2MJy4mf5Fv" target="_blank"><button class="btn btn-lg btn-default btn-width text-center">{{donate_button_tib}}</button></a> 
                </div>   
            </div>
        </div>
    </div>
</section>