<section class="section background" id="firstTime">
    <div class="container col-lg-10 col-md-12 col-sm-12">
        <div class="row">
            <div id="topbar"></div>
            <div id="rightbar"></div>
            <div id="bottombar"></div>
            <div id="leftbar"></div>
            <div class="contentBox contentView text-center" id="content">
                <p><h1 class="title">Bienvenue sur l'application JW Reading</h1><br/><br/></p>
                <p><h2 class="subtitle">Merci de modifier la langue d'affichage si vous le désirez</h2><br/></p>
                {{lang_links}}
                <!-- <button id="backToAccountFirstBtn" class="btn btn-lg subscribeBack btn-inverse account-previous" data-previous="accountFirst">{{btn_previous}}</button> -->
                <div class="row"><button id="firstTimeNextBtn" class="btn btn-lg btn-default btn-width subscribeSubmit">{{btn_next}} <i class="fa fa-chevron-right"></i></button></div>
            </div> <!-- /col -->                 
        </div> <!-- /row -->
    </div>
</section>

