<section class="section" id="home">
    <div class="container">
        <div class="row">
             <div class="contentBox col-sm-10 contentView" id="content">
                <div id="selectedLang">
                    {{lang_links}}
                </div>
                <!-- Site Title -->
                <h1 class="title">JW Reading</h1>
                <h2 class="subtitle">{{home_subtitle}}</h2>
                    <p class="menu">
                        <a href="#faq" class="btn btn-default btn-lg">{{home_faq_label}}</a>
                        <a href="#subscribe" class="btn btn-default btn-lg">{{home_subscribe_label}}</a>
                        <a href="#login" class="btn btn-default btn-lg btn-orange">{{home_login_label}}</a>
                    </p>
             </div> <!-- /col -->                 
        </div> <!-- /row -->
    </div>
</section>

