<nav class="mainmenu menu">	
	<div class="container">
		<div class="dropdown">
            <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="#home" class="{{homeActive}}">{{homeTitle}}</a></li>
                <li><a href="#faq" class="{{faqActive}}">{{faqTitle}}</a></li>
                <li><a href="#contact" class="{{contactActive}}">{{contactTitle}}</a></li>
            </ul>
        </div>
    </div>
</nav>