<section class="section" id="subscribe">
	<div class="container">
		<h2 class="text-center title">{{subscribe_title}}</h2>
		<div class="row">
            <form action="" method="post" id="subscribeForm">
            <!-- 1er ecran du formulaire -->
            <div class="col-sm-8 col-sm-offset-2 text-center" id="subscribeFirst">	
                <p>{{subscribe_text_1}}</p>
                <br>
				<p>{{subscribe_text_2}}</p>
                <div class='input-group'><span class='input-group-addon'><i class='fa fa-envelope'></i></span><input id="email" name="email" type='text' class='form-control' placeholder='{{placeholder_email}}'/></div><div id="emailValidate" class="validate"></div><br><br>
                <p>{{subscribe_text_3}}</p>
                <div class='input-group'><span class='input-group-addon'><i class='fa fa-user'></i></span><input type='text' name="name" class='form-control' placeholder='{{placeholder_name}}'/></div><br><br><br>
                <!--<button id="cancelFirstBtn" class="btn btn-lg subscribeCancel btn-inverse">Retour</button>-->
                <button id="subscribeFirstBtn" class="btn btn-lg btn-default">{{btn_next}}</button>
			</div>
            
            <!-- 2e ecran du formulaire -->
            <div class="col-sm-8 col-sm-offset-2 text-center" id="subscribeSecond">        
                <table class="table">
                    <tbody>
                      <tr><th style="border:0;"><div>{{subscribe_text_4}}</div></th>
                          <th style="border:0;"><div>{{subscribe_text_5}}<i class="fa fa-question-circle" id="help" data-toggle="popover" data-title="{{popover_title}} <button type='button' class='close' onclick='$(&quot;#help&quot;).popover(&quot;hide&quot;);'>&times;</button>" data-placement="right auto" data-content='{{popover_content}}' data-html="true"></i></div></th>
                      </tr>
                 <tr><td>         
                <!-- lundi --> 
                <div class="onoffswitch">
                    <input type="checkbox" name="toggleDay1" class="onoffswitch-checkbox subscribeChk" id="toggleDay1" value="1"/>
                    <label class="onoffswitch-label" for="toggleDay1">
                        <span class="onoffswitch-inner" id="day1"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div></td><td><input type="radio" id="radio1" name="firstDayRadio" value="1"/></td></tr>
                <tr><td>
                <!-- mardi --> 
                <div class="onoffswitch">
                    <input type="checkbox" name="toggleDay2" class="onoffswitch-checkbox subscribeChk" id="toggleDay2" value="1"/>
                    <label class="onoffswitch-label" for="toggleDay2">
                        <span class="onoffswitch-inner" id="day2"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div></td><td><input type="radio" id="radio2" name="firstDayRadio" value="2"/></td></tr>
                 <tr><td>
                <!-- mercredi -->           
                <div class="onoffswitch">
                    <input type="checkbox" name="toggleDay3" class="onoffswitch-checkbox subscribeChk" id="toggleDay3" value="1"/>
                    <label class="onoffswitch-label" for="toggleDay3">
                        <span class="onoffswitch-inner" id="day3"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div></td><td><input type="radio" id="radio3" name="firstDayRadio" value="3"/></td></tr>
                <tr><td>
                <!-- jeudi -->           
                <div class="onoffswitch">
                    <input type="checkbox" name="toggleDay4" class="onoffswitch-checkbox subscribeChk" id="toggleDay4" value="1"/>
                    <label class="onoffswitch-label" for="toggleDay4">
                        <span class="onoffswitch-inner" id="day4"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div></td><td><input type="radio" id="radio4" name="firstDayRadio" value="4"/></td></tr>
                <tr><td>
                <!-- vendredi --> 
                <div class="onoffswitch">
                    <input type="checkbox" name="toggleDay5" class="onoffswitch-checkbox subscribeChk" id="toggleDay5" value="1"/>
                    <label class="onoffswitch-label" for="toggleDay5">
                        <span class="onoffswitch-inner" id="day5"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div></td><td><input type="radio" id="radio5" name="firstDayRadio" value="5"/></td></tr>
                <tr><td>
                <!-- samedi -->           
                <div class="onoffswitch">
                    <input type="checkbox" name="toggleDay6" class="onoffswitch-checkbox subscribeChk" id="toggleDay6" value="1"/>
                    <label class="onoffswitch-label" for="toggleDay6">
                        <span class="onoffswitch-inner" id="day6"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div></td><td><input type="radio" id="radio6" name="firstDayRadio" value="6"/></td></tr>
                <tr><td>
                <!-- dimanche --> 
                <div class="onoffswitch">
                    <input type="checkbox" name="toggleDay7" class="onoffswitch-checkbox subscribeChk" id="toggleDay7" value="1"/>
                    <label class="onoffswitch-label" for="toggleDay7">
                        <span class="onoffswitch-inner" id="day7"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div></td><td><input type="radio" id="radio7" name="firstDayRadio" value="7"/></td></tr>
                </tbody>
               </table>
                <br><br>   
                <p align="left">{{daily_comment}}</p>
                <div class="onoffswitch">
                <input type="checkbox" name="toggleDailyText" class="onoffswitch-checkbox" id="toggleDailyText"/>
                <label class="onoffswitch-label" for="toggleDailyText">
                    <span class="onoffswitch-inner" id="dailyText"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
                </div> 

                <br><div id="formValidate" class="validate"></div><br>
                
                <button id="backBtn" class="btn btn-lg subscribeBack btn-inverse">{{btn_previous}}</button>
                <input type="submit" id="subscribeSecondBtn" name="subscribeSecondBtn" class="btn btn-lg subscribeSubmit btn-default" value="{{btn_validation}}"/>
			</div>
            <!-- 3e ecran du formulaire -->
            <div class="col-sm-8 col-sm-offset-2 text-center" id="subscribeThird"
                <div id="map-continents">
                 <!--<ul class="continents">
                  <li class="c1"><a href="#africa">Africa</a></li>
                  <li class="c2"><a href="#asia">Asia</a></li>
                  <li class="c3"><a href="#australia-and-southern-pacific">Australia and Southern Pacific</a></li>
                  <li class="c4"><a href="#europe">Europe</a></li>
                  <li class="c5"><a href="#north-america">North America (GMT -5,-4,-3)</a></li>
                  <li class="c6"><a href="#south-america">South America</a></li>
                 </ul>-->
                </div>
            </div>
			<input type="hidden" name="langText" id="langText" value="{{language}}"/>
			<input type="hidden" name="langReading" id="langReading" value="{{language}}"/>
            <input type="hidden" name="subscribeFormButton" id="subscribeFormButton"/>
            </form>
            
            <div class="col-sm-8 col-sm-offset-2 text-center" id="subscribeConfirm">  
                <div id="messageConfirm" style="text-align:left"></div>
            </div>
		</div>
	</div>
</section>