<section class="section" id="news">
    <div class="container">
        <div class="row col-sm-12 contentView">
            <h2 class="text-center title">Lecture de la semaine</h2>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-left">
                 	<div id="notTodayValidate" class="validate">Selon votre configuration, vous n'avez pas de portion pour aujourd'hui</div>
             	</div>
                <div class="col-sm-8 col-sm-offset-2 text-left" id="weekReading"></div>   
            </div>
        </div>
    </div>
</section>