<section class="section" id="todayReading">
    <div class="container">
        <div class="row col-sm-12 contentView">
            <h2 class="text-center col-sm-offset-5 title">Lecture de la semaine</h2>
            <div id="todayPortionValidate" class="validate tip col-sm-10 col-sm-offset-2" style="z-index: 999"><span class="closeTip"><i class="fa fa-times"></i></span>La lecture pour aujourd'hui va de <span id="todayPortionFrom"></span> à <span id="todayPortionTo"></span></div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2 text-left">
                 	<div id="notTodayValidate" class="validate">Selon votre configuration, vous n'avez pas de portion pour aujourd'hui</div>                    
             	</div>
                <div class="col-sm-10 col-sm-offset-2 text-left" id="weekReading"></div>   
            </div>
        </div>
    </div>
</section>